<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>职位详情数据</title>
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css"/>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="card card-body">
    <div class="row">
        <form action="#" method="post" class="form-inline">
            职位名称：<input class="form-control" name="jobName">&nbsp;
            <button class="btn btn-primary" type="button">查询</button>&nbsp;
            <button class="btn btn-primary" type="button" onclick="javascript: document.location.href='/jobsimilar';">
                相似度分析
            </button>
        </form>
    </div>
    <br>
    <div class="row">
        <table class="table table-responsive-lg">
            <thead>
            <tr>
                <th>职位ID</th>
                <th>职位名称</th>
                <th>公司名称</th>
                <th>薪资</th>
                <th>工作地点</th>
                <th>职位类型</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for job in pageList %}
                <tr>
                    <td>{{ job.jobId }}</td>
                    <td><a href="/jobdetail?jobid={{ job.jobId }}">{{ job.jobName }}</a></td>
                    <td>{{ job.jobCompany }}</td>
                    <td>{{ job.jobSalary }}</td>
                    <td>{{ job.jobAddress }}</td>
                    <td>{{ job.jobType }}</td>
                    <td>
                        <button class="btn btn-primary">详情</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>