<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图像识别</title>
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css"/>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script>
        function ajaxUploadFile() {
            var formData = new FormData($('#dataForm')[0]);
            $.ajax({
                url: '/cnnimage',
                method: 'post',
                dataType: 'json',
                data: formData,
                xhr: function () { //获取ajaxSettings中的xhr对象，为它的upload属性绑定progress事件的处理函数
                    myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) { //检查upload属性是否存在
                        //绑定progress事件的回调函数   给<input type="file" name='upload' />
                        myXhr.upload.addEventListener('progress', progressHandlingFunction, false);
                    }
                    return myXhr; //xhr对象返回给jQuery使用
                },
                success: function (result) {
                    // result = JSON.parse(result);
                    $("#uploadImage").attr("src", result.url); // 前端显示上传完成的图片
                    $("#cnnResult").text(result.typeName + '  可能性：' + result.acc)

                },
                contentType: false, //必须false才会自动加上正确的Content-Type
                processData: false  //必须false才会避开jQuery对 formdata 的默认处理
            })
        }

        //上传进度回调函数：
        function progressHandlingFunction(e) {
            if (e.lengthComputable) {
                $('#progress').attr({value: e.loaded, max: e.total}); //更新数据到进度条
                var percent = e.loaded / e.total * 100;
                $('#progress').html(e.loaded + "/" + e.total + " bytes. " + percent.toFixed(2) + "%");
                $('#progress').css('width', percent.toFixed(2) + "%");
            }
        }
    </script>
</head>
<body>
<div class="card card-body">
    <div class="row">
        <div style="border: 1px red dashed;height: 400px;width: 100%;">
            <image alt="请上传图片" src="" style="height: 400px;" id="uploadImage"></image>
        </div>
        <div style="border: 1px red dashed;height: 24px;width: 100%;">
            <span id="cnnResult"></span>
        </div>
        <div>
            <form method="post" class="form-inline" id="dataForm">
                <input type="file" name="uploadFile" class="form-control">&nbsp;
                <button type="button" class="btn btn-primary" onclick="ajaxUploadFile()">上传</button>
            </form>
            <progress id="progress"></progress>
        </div>
    </div>
</div>
</body>
</html>